<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.json">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pp_background"
        android:label="Hang"
        android:roundIcon="@mipmap/pp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".konec_hry"></activity>
        <activity android:name=".activity_hra" />
        <activity android:name=".ShowScoreActivity" />
        <activity android:name=".VyberOkruhy" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>